<form action="/<%= @filename %>" method="post">
    <label for="new_content">Edit content of <%= @filename %>:</label>
    <div>
      <textarea name="new_content" id="content" rows="20" cols="100"><%= @content %></textarea>
    </div>
    <button type="submit">SaveChange</button>
</form>